root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{py, lua}]
charset = utf-8

[*.{py, lua, sh}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[Makefile]
indent_style = tab

[{package.json,.travis.yml}]
indent_style = space
indent_size = 2

[{env*}]
indent_style = none
indent_size = none
end_of_line = none
trim_trailing_whitespace = none
charset = none
